@media all and (max-width: 1366px) {
  .menu-icon {
    display: block;
  }
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 70%;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .lesson-icon p {
  position: absolute;
  top: 25%;
  width: 130%;
  font-size: 40px;
  color: white;
  text-decoration: underline;
}
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .headingx h2 {
    font-size: 35px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 80%;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 25px;
  }
  
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
